.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  color: #5198d3
}

.DestinyMC {
  color: #d9eeff
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 5px solid #5198d3;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.powered a {
  color: #5198d3;
  text-decoration: none;
}

.powered a:hover,
.powered a:focus,
.powered a:active {
  color: aqua;
  text-decoration: solid;
}

.powered,
.description {
  text-align: center;
  align-items: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #5198d3;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
